<?xml version="1.0"?>
<configuration>
	
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
	
	<system.diagnostics>
		<sources>			
			<!--<source name="System.Net" switchValue="Verbose">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Sockets" switchValue="Verbose">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Cache" switchValue="Verbose">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>-->

			<!--<source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
				<listeners>
					<add
						type="System.Diagnostics.XmlWriterTraceListener"
						name="wcf"
						initializeData="logs/wcf.svclog"						
						traceOutputOptions="Timestamp">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
				<listeners>
					<clear/>
					<add 
						type="System.Diagnostics.XmlWriterTraceListener"
						name="messages"
						initializeData="logs/messages.svclog"
						traceOutputOptions="Timestamp">
						<filter type="" />
					</add>					
				</listeners>
			</source>
			<source name="System.Runtime.Serialization" switchValue="Verbose, ActivityTracing">
				<listeners>
					<add
						initializeData="logs/serialization.svclog"
						type="System.Diagnostics.XmlWriterTraceListener"
						name="serialization">
						<filter type="" />
					</add>
				</listeners>
			</source>-->
		</sources>
		
		<!--<switches>
			<add name="System.Net" value="Verbose"/>
			<add name="System.Net.Sockets" value="Verbose"/>
			<add name="System.Net.Cache" value="Verbose"/>
		</switches>

		<sharedListeners>
			<add name="System.Net" 
				type="System.Diagnostics.TextWriterTraceListener" 
				initializeData="logs/net.log"/>
		</sharedListeners>-->

		<trace autoflush="true" />
	</system.diagnostics>

	<system.serviceModel>
		<!--<diagnostics>
			<messageLogging
				logEntireMessage="true"
				logMalformedMessages="true"
				logMessagesAtServiceLevel="false"
				logMessagesAtTransportLevel="true"
				maxMessagesToLog="3000"
				maxSizeOfMessageToLog="4194304">
				<filters>
					<clear />
				</filters>
			</messageLogging>
		</diagnostics>-->
	</system.serviceModel>


</configuration>
